
/**********               Home                        ***********/
/*Trending Map Graphics*/
.main-page {
    font-family: 'Arial';
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .trending-map-graphics h2 {
    font-size: 50px;
    color: #FAFAFA;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  
  .map-images {
    gap: 10px;
    margin-left: 40px;
    transition: transform 0.5s;
    display:block;
    overflow: hidden;
  }
  
  .imgblank {
    width: 500px;
    height: 400px;
    background-color: grey;
  }
  
  /*Instruction*/
  .map-vision {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .map-vision h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #D32F2F;
  }
  
  .vision-content {
    display: flex;
    gap: 40px;
  }
  
  .vision-left, .vision-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .vision-content img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .vision-content p {
    font-size: 18px;
    text-align: center;
  }
  