.App {
  font-family: 'Arial';
  text-align: center;
  background-color: #282c34;
}

/**********               Header                        ***********/

.hdr {
  color: #FAFAFA;
  background: linear-gradient(#465065, #282c34);
  width: 100%;
  height: 100px;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  pointer-events: cursor;
}

.navbar {
  color:#FAFAFA;
  text-decoration: none;
  gap: 1rem;
  transition: color 0.3s ease-in-out;
  font-weight: regular;
  font-size: 150%;
}

.navbar a {
  color: #FAFAFA;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: grey;
}

.user-section {
  gap: 1rem;
}

.user-section button {
  width: 100px;
  height: 40px;
  color: #282c34;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.user-section button:hover {
  background-color: #465065;
  border: none;
}

.user-section a {
  color: black;
  text-decoration: none;
}

.hamburger-menu {
  font-size: 4rem;
  cursor: pointer;
  display: none;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.rotate {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

.mobile-nav {
  position: absolute;
  width: 400px;
  height: 430px;
  top: 100px;
  right: 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background-color: #E3E2EA;
  overflow: hidden;
  z-index: 1000;
}

.mobile-nav .active {
  display: block;

}

.mobile-nav a {
  display: block;
  padding: 10px 15px;
  height: 60px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #707070;
}

.mobile-nav .auth-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.mobile-nav .auth-buttons div {
  font-size: 35px;
  font-weight: regular;
  color: #707070;
}

.mobile-nav .auth-buttons a {
  width:100%;
}

.mobile-nav a:hover {
  background-color: #465065;
  color: #282c34;
}

@media (max-width: 768px) {
  header nav a, header .user-section button {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}

/**********               side bar                        ***********/
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  height: 60px;
}

/**********               Indicator                        ***********/
a.active {
  text-decoration: underline;
}