.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--color-texta);
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(20%);
    background-size: cover;
}

@keyframes moveCursorDownAndUp {
    0% {
      top: 0px;
    }
    25% {
      top: 70px;
    }
    50% {
      top: 150px;
      transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1.5);
    }
    75% {
      top: 140px;
    }
    100% {
      top: 125px;
    }
  }

  :root {
    --circle-radius: 200px;
    --circle-center-x: 70px;
    --circle-center-y: 30px;
  }
  
  @keyframes moveCursoraround {
    0% {
      transform: translate(calc(var(--circle-center-x)), var(--circle-center-y));
    }
    25% {
      transform: translate(var(--circle-center-x), calc(var(--circle-center-y) + var(--circle-radius)));
    }
    50% {
      transform: translate(calc(var(--circle-center-x) - var(--circle-radius) - 40px), var(--circle-center-y));
    }
    75% {
      transform: translate(var(--circle-center-x), calc(var(--circle-center-y) + var(--circle-radius)));
    }
    100% {
      transform: translate(calc(var(--circle-center-x)), var(--circle-center-y));
    }
  }
  

  