.landing-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*****  my graphics / load files & map graphics *****/
.landingtop {
    width: 100%;
}

.landing-main p {
    font-size: 40px;
    font-weight: bold;
    color: #FAFAFA;
}

.landing-main .export-btn {
    width: 40%;
}

.landing-main .export-btn button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    margin-left: 20px;
    color: black;
    font-weight: regular;
}   

.btn-first {
    margin-right: 40px;
}

.map-down {
    width: 100%;
}

.my-maps {
    width: 60%;
    padding: 20px;
}

.my-maps div {
    width: 100%;
}

.my-maps input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.my-maps .search-icon {
    border: none;
    background: none;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: -50px;
}

.map-item {
    color: #FAFAFA;
    width: 100%;
    margin-bottom: 20px;
}

.map-image {
    width: 60px;
    height: 60px;
    background-color: grey;
    margin-right: 10px;
    border: none;
    border-radius: 0;
}

.map-title {
    width: 50%;
}

.map-item button {
    color: #FAFAFA;
    font-size: 24px;
}

.leftRight button {
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 10px;
    background-color: #FAFAFA;
    color: black;
    border: none;
    border-radius: 5px;
}

.liked-template {
    width: 40%;
    overflow: hidden;
}

.liked-template .imgList {
    list-style: none;
}

.imgList {
    position: relative;
    flex-basis: clac(50% - 10px);
    margin-bottom: 20px;
}

.img {
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-right: 40px;
}

.imgList .heartIcon {
    position: absolute;
    top: 2px;
    right: 45px;
    z-index: 1;
    background: none;
    border: none;
    color: red;
    font-size: 20px;
}

.text-left {
    text-align: left;
    margin-top: 20px;
}

.flex-wrap {
    flex: wrap;
}

@media (max-width: 600px) {

    .landingtop .export-btn {
        margin: 0;
    }

    .map-down {
        flex-direction: column;
    }

    .my-maps {
        width: 100%;
    }

    .liked-template {
        width: 100%;
    }
}