.terms-conditions {
    font-family: 'Arial', sans-serif;
    color: white;
    line-height: 1.6;
    padding: 20px;
    text-align: left;
    margin-left: auto;
}

.privacy-policy {
    font-family: 'Arial', sans-serif;
    color: white;
    line-height: 1.6;
    padding: 20px;
    text-align: left;
    margin-left: auto;
}